<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-3">
    <form
      class="needs-validation"
      action="/campgrounds/<%=campground._id%>?_method=PUT "
      method="POST"
      enctype="multipart/form-data"
      novalidate
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          value="<%=campground.title%> "
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
          value="<%=campground.location%> "
          required
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          class="form-control"
          id="description"
          rows="3"
          name="campground[description]"
          required
        >
        <%=campground.description%>
        </textarea>
      </div>

      <div class="mb-3">
        <label class="form-label" for="price">Campground Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            id="price"
            aria-label="Username"
            aria-describedby="price-label"
            name="campground[price]"
            value="<%=campground.price%> "
            required
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="formFileMultiple" class="form-label">Add New Images</label>
        <input
          class="form-control"
          type="file"
          id="formFileMultiple"
          name="image"
          multiple
        />
      </div>

      <div class="mb-3">
        Delete Images
        <div class="mt-2 container">
          <div class="row">
            <% campground.image.forEach(function (img, i){ %>
            <div class="col-sm-6">
              <div class="form-check-inline">
                <input
                  type="checkbox"
                  id="image-<%=i%> "
                  name="deleteImages[]"
                  value="<%=img.filename%>"
                />
              </div>
              <label class="mb-1" for="image-<%=i%> ">Image<%=i+1%> </label>
              <img src="<%=img.thumbnail%>" class="mb-3 img-thumbnail" alt="" />
            </div>
            <% }) %>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-info mb-3">Update</button>
    </form>
    <a href="/campgrounds/<%=campground._id%> ">Cancel</a>
  </div>
</div>
