<% layout('layouts/boilerplate') %>
<div class="video-container">
  <video
    autoplay
    muted
    playsinline
    loop
    poster="https://res.cloudinary.com/do0npzyzl/image/upload/v1718292904/YelpCamp/static/yg04oi98nb7abr2fimou.jpg"
  >
    <source
      src="https://res.cloudinary.com/do0npzyzl/video/upload/v1718292928/YelpCamp/static/wjrdgejlfmkfgnfyfeof.mp4"
      type="video/mp4"
    />
  </video>
</div>
<div class="row" style="max-width: 35rem; margin: auto">
  <h1 class="text-center text-light">Edit Campground</h1>
  <div class="col-12">
    <form
      class="needs-validation"
      action="/campgrounds/<%=campground._id%>?_method=PUT "
      method="POST"
      enctype="multipart/form-data"
      novalidate
    >
      <div class="mb-3">
        <label class="form-label text-light" for="title">Title</label>
        <input
          class="form-control bg-transparent text-light"
          type="text"
          id="title"
          name="campground[title]"
          value="<%=campground.title%> "
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label text-light" for="location">Location</label>
        <input
          class="form-control bg-transparent text-light"
          type="text"
          id="location"
          name="campground[location]"
          value="<%=campground.location%> "
          required
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label text-light"
          >Description</label
        >
        <textarea
          class="form-control bg-transparent text-light"
          id="description"
          rows="3"
          name="campground[description]"
          required
        >
        <%=campground.description%>
        </textarea>
      </div>

      <div class="mb-3">
        <label class="form-label text-light" for="price"
          >Campground Price</label
        >
        <div class="input-group mb-3">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control bg-transparent text-light"
            id="price"
            aria-label="Username"
            aria-describedby="price-label"
            name="campground[price]"
            value="<%=campground.price%> "
            required
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="formFileMultiple" class="form-label text-light"
          >Add New Images</label
        >
        <input
          class="form-control text-light bg-transparent"
          type="file"
          id="formFileMultiple"
          name="image"
          multiple
        />
      </div>

      <div class="mb-3 text-light">
        Delete Images
        <div class="mt-2 container">
          <div class="row">
            <% campground.image.forEach(function (img, i){ %>
            <div class="col-sm-6">
              <div class="form-check-inline">
                <input
                  type="checkbox"
                  id="image-<%=i%> "
                  name="deleteImages[]"
                  value="<%=img.filename%>"
                />
              </div>
              <label class="mb-1" for="image-<%=i%> ">Image<%=i+1%> </label>
              <img src="<%=img.thumbnail%>" class="mb-3 img-thumbnail" alt="" />
            </div>
            <% }) %>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-info mb-3">Update</button>
      <a
        role="button"
        class="btn btn-danger mb-3 ms-2"
        href="/campgrounds/<%=campground._id%> "
        >Cancel</a
      >
    </form>
  </div>
</div>
